/***************************************************************************
***                               Resets                                 ***
***************************************************************************/
/* Light Reset  */
* {
  margin: 0;
  padding: 0;
}

/* Box Model Fix  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.button-rectangle {
  font-size: 8px;
  color: white;
  background: blue;
  text-decoration: none;
  border-radius: 4px;
  margin: 5px;
  display: inline-block;
  transition: all 1s ease-out;
}

@media screen and (min-width: 576px) {
  .button-rectangle {
    font-size: 10px;
  }
}

.button-rectangle:hover {
  background: lightblue;
  /* Dodger Blue */
}

.button-rectangle.inactive {
  background: gray;
}

body {
  overflow-y: scroll;
}

header {
  text-align: center;
}

header p {
  font-size: 1rem;
}

h1 {
  font-size: 20px;
  line-height: 0.9;
  margin: 5px auto;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 10px;
  line-height: 1;
  margin: 5px auto;
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

.theButtons {
  margin: 0 auto;
}

.theButtons form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .theButtons {
    justify-content: center;
  }
  .theButtons form {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.solveIt {
  margin: 0 auto;
}

.solveIt form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .solveIt form {
    flex-wrap: nowrap;
  }
}

.stepsDetails {
  margin: 0 30px;
  text-align: center;
  font-size: 1rem;
}

.stepsDetails article {
  padding: 10px;
  border: 1px solid blue;
}

.stepsDetails article h3 {
  padding-bottom: 5px;
}

.stepsDetails article p {
  padding: 15px 0;
}

.content-wrap {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  padding: 5px 0 5px;
}

.theMatrixNotes > div, .theMatrix > div {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(9, 1fr);
  border: 2px solid blue;
  margin: 5px auto;
  padding: 5px;
}

.theMatrixNotes > div .cell, .theMatrix > div .cell {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
}

.theMatrixNotes > div .cell > input, .theMatrix > div .cell > input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 440px) {
  .theMatrixNotes > div .cell > input, .theMatrix > div .cell > input {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 576px) {
  .theMatrixNotes > div .cell > input, .theMatrix > div .cell > input {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  .theMatrixNotes > div .cell > input, .theMatrix > div .cell > input {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 992px) {
  .theMatrixNotes > div .cell > input, .theMatrix > div .cell > input {
    font-size: 3.2rem;
  }
}

.theMatrixNotes > div .cell > div, .theMatrix > div .cell > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: start;
  text-align: center;
}

@media screen and (min-width: 440px) {
  .theMatrixNotes > div .cell > div, .theMatrix > div .cell > div {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 576px) {
  .theMatrixNotes > div .cell > div, .theMatrix > div .cell > div {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .theMatrixNotes > div .cell > div, .theMatrix > div .cell > div {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .theMatrixNotes > div .cell > div, .theMatrix > div .cell > div {
    font-size: 0.9rem;
  }
}

.notes .note1, .notes .note4, .notes .note7 {
  border-left: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note1, .notes .note4, .notes .note7 {
    border-right: 1px dashed black;
  }
}

.notes .note3, .notes .note6, .notes .note9 {
  border-right: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note3, .notes .note6, .notes .note9 {
    border-left: 1px dashed black;
  }
}

.notes .note1, .notes .note2, .notes .note3 {
  border-top: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note1, .notes .note2, .notes .note3 {
    border-bottom: 1px dashed black;
  }
}

.notes .note7, .notes .note8, .notes .note9 {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note7, .notes .note8, .notes .note9 {
    border-top: 1px dashed black;
  }
}

.column1, .column4 {
  border-left: 3px solid black;
}

.column6, .column9 {
  border-right: 3px solid black;
}

.row1, .row4 {
  border-top: 3px solid black;
}

.row6, .row9 {
  border-bottom: 3px solid black;
}

/* Configuration to hide the scroll bars for the inputs inside theMatrix */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-rectangle {
  width: 120px;
  padding: 4px;
}

@media screen and (min-width: 992px) {
  .button-rectangle {
    width: 170px;
  }
}

.button-rectangle.active:hover {
  transform: scale(1.1);
}

/***************************************************************************
***                         Global Grids (All Pages)                     ***
***************************************************************************/
.index-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "solveIt" "theMatrix" "theButtons" "stepsDetails";
}

@media screen and (min-width: 768px) {
  .index-grid {
    grid-template-columns: 25% 75%;
    grid-template-areas: "theButtons		theMatrix" "theButtons 	solveIt" "theButtons 	stepsDetails";
  }
}

@media screen and (min-width: 992px) {
  .index-grid {
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "solveIt 		solveIt			solveIt" "theButtons		theMatrix		stepsDetails";
  }
}

/* index page */
.theMatrixCard {
  grid-area: theMatrix;
}

.theButtons {
  grid-area: theButtons;
}

.solveIt {
  grid-area: solveIt;
}

.stepsDetails {
  grid-area: stepsDetails;
}

/***************************************************************************
***                        Products cards 3D                             ***
***************************************************************************/
.card3d {
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.card3d:hover .card3d-body {
  transform: rotateY(0.5turn);
}

.card3d-body {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: white;
  transform-style: preserve-3d;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 15px 15px 30px gray, -15px -15px 30px white;
}

.card3d-body-front, .card3d-body-back {
  padding: 1em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card3d-body-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(0.5turn);
  border-radius: 30px;
}

@media (hover: hover) {
  .card3d-body-back {
    background-color: white;
  }
}
