/***************************************************************************
***                               Resets                                 ***
***************************************************************************/
/* Light Reset  */
* {
  margin: 0;
  padding: 0;
}

/* Box Model Fix  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/***************************************************************************
***                            Color Palette                             ***
***************************************************************************/
/*

TBD
Exmaple Kaffa
https://coolors.co/bf1e2e-343434-4392f1-f9e0d9-f9f9f9
#BF1E2E Red NCS 					- rgb(191,30,46)
#343434 Dark Gray (Almost black) 	- rgb(52,52,52)
#4392F1 Dodger Blue 				- rgb(67,146,241)
#F9E0D9 Misty Rose 					- rgb(249,224,217)
#F9F9F9 Cultured (Almost White) 	- rgb(249,249,249)

*/
@use "sass:color";
body {
  overflow-y: scroll;
}

header {
  text-align: center;
}

header p {
  font-size: 1rem;
}

h1 {
  font-size: 20px;
  line-height: 0.9;
  margin: 5px auto;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 10px;
  line-height: 1;
  margin: 5px auto;
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

.theButtons {
  margin: 0 auto;
}

.theButtons form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.solveIt {
  margin: 0 auto;
  padding-top: 10px;
}

.solveIt form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 320px) {
  .solveIt form {
    flex-wrap: nowrap;
  }
}

.stepsDetails {
  margin: 0 30px;
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .stepsDetails {
    padding-top: 0;
    margin-top: -15px;
  }
}

.stepsDetails article {
  padding: 10px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 15px 15px 30px gray, -15px -15px 30px white;
  max-width: 80%;
}

.stepsDetails article h3 {
  padding-bottom: 5px;
}

.stepsDetails article p {
  padding: 15px 0;
}

.stepsDetails article:first-of-type {
  border: 3px solid #4392F1;
  margin-top: 30px auto;
  max-width: 100%;
}

.stepsDetails article:first-of-type h3 {
  font-size: 25px;
  padding: 10px;
  color: #4392F1;
}

.stepsDetails article:first-of-type h4 {
  font-size: 20px;
}

.stepsDetails article:first-of-type p {
  font-size: 20px;
}

.content-wrap {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  padding: 5px 0 5px;
}

.theMatrixNotes, .theMatrix {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(9, 1fr);
  margin: 5px auto;
  padding: 5px;
}

@media screen and (min-width: 576px) {
  .theMatrixNotes, .theMatrix {
    border: 2px solid #4392F1;
  }
}

.theMatrixNotes .cell, .theMatrix .cell {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
}

.theMatrixNotes .cell > input, .theMatrix .cell > input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  .theMatrixNotes .cell > input, .theMatrix .cell > input {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 576px) {
  .theMatrixNotes .cell > input, .theMatrix .cell > input {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  .theMatrixNotes .cell > input, .theMatrix .cell > input {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 992px) {
  .theMatrixNotes .cell > input, .theMatrix .cell > input {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .theMatrixNotes .cell > input, .theMatrix .cell > input {
    font-size: 3.2rem;
  }
}

.theMatrixNotes .cell > input.justFoundCell, .theMatrix .cell > input.justFoundCell {
  color: green;
  background-color: lightgreen;
}

.theMatrixNotes .cell > div, .theMatrix .cell > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: start;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .theMatrixNotes .cell > div, .theMatrix .cell > div {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 576px) {
  .theMatrixNotes .cell > div, .theMatrix .cell > div {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .theMatrixNotes .cell > div, .theMatrix .cell > div {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .theMatrixNotes .cell > div, .theMatrix .cell > div {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1200px) {
  .theMatrixNotes .cell > div, .theMatrix .cell > div {
    font-size: 0.9rem;
  }
}

.theMatrixNotes .cell > div .justDeletedNote, .theMatrix .cell > div .justDeletedNote {
  background-color: red;
}

.theMatrixNotes .cell > div .noteKept, .theMatrix .cell > div .noteKept {
  background-color: lightgreen;
}

/*Configuration for Candidates Borders*/
.notes .note1, .notes .note4, .notes .note7 {
  border-left: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note1, .notes .note4, .notes .note7 {
    border-right: 1px dashed black;
  }
}

.notes .note3, .notes .note6, .notes .note9 {
  border-right: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note3, .notes .note6, .notes .note9 {
    border-left: 1px dashed black;
  }
}

.notes .note1, .notes .note2, .notes .note3 {
  border-top: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note1, .notes .note2, .notes .note3 {
    border-bottom: 1px dashed black;
  }
}

.notes .note7, .notes .note8, .notes .note9 {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
  .notes .note7, .notes .note8, .notes .note9 {
    border-top: 1px dashed black;
  }
}

.emptycell {
  border: 1px solid black;
}

/*Configuration for Square Borders*/
.column1, .column4 {
  border-left: 4px solid black;
}

.column6, .column9 {
  border-right: 4px solid black;
}

.row1, .row4 {
  border-top: 4px solid black;
}

.row6, .row9 {
  border-bottom: 4px solid black;
}

/* Configuration to hide the scroll bars for the inputs inside theMatrix */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/***************************************************************************
***                         Global Grids (All Pages)                     ***
***************************************************************************/
.index-grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "solveIt" "theMatrix" "theButtons" "stepsDetails";
}

@media screen and (min-width: 992px) {
  .index-grid {
    grid-template-columns: 50% 50%;
    grid-template-areas: ".				solveIt" "stepsDetails	theMatrix" "stepsDetails 	theButtons" "stepsDetails	.";
  }
}

/* index page */
.theMatrixCard {
  grid-area: theMatrix;
}

.theButtons {
  grid-area: theButtons;
}

.solveIt {
  grid-area: solveIt;
}

.stepsDetails {
  grid-area: stepsDetails;
}

/***************************************************************************
***                        Matrix 3D Rotation                            ***
***************************************************************************/
.card3d {
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.card3d .transform-3D-active {
  transform: rotateY(0.5turn);
}

.card3d-body {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: white;
  transform-style: preserve-3d;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 15px 15px 30px gray, -15px -15px 30px white;
}

.card3d-body-front, .card3d-body-back {
  padding: 0.4em;
  border-radius: 30px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@media screen and (min-width: 576px) {
  .card3d-body-front, .card3d-body-back {
    padding: 1em;
  }
}

.card3d-body-front .theMatrix {
  transform: translateZ(16rem);
}

.card3d-body-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(0.5turn);
  border-radius: 30px;
}

@media (hover: hover) {
  .card3d-body-back {
    background-color: white;
  }
}

.card3d-body-back .theMatrixNotes {
  transform: translateZ(16rem);
}

/* From uiverse.io by @shah1345 */
.hoverMeButton {
  width: 100px;
  height: 40px;
  padding: 4px;
  margin: 10px;
  font-size: 12px;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

@media screen and (min-width: 768px) {
  .hoverMeButton {
    width: 120px;
  }
}

.hoverMeButton.inactive {
  background: gray;
}

.hoverMeButton.active:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.hoverMeButton.active:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.hoverMeButton.active:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #4392F1;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.hoverMeButton.active:hover {
  color: #ffffff;
  border: 1px solid #4392F1;
}

.hoverMeButton.active:hover:before {
  top: -35%;
  background-color: #4392F1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.hoverMeButton.active:hover:after {
  top: -45%;
  background-color: #4392F1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.stepsDetails .hoverMeButton {
  width: 140px;
  height: 50px;
  padding: 5px;
  margin: 12px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .stepsDetails .hoverMeButton {
    width: 200px;
  }
}
