/***************************************************************************
***                               Resets                                 ***
***************************************************************************/
/* Light Reset  */
* {
  margin: 0;
  padding: 0;
}

/* Box Model Fix  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.theButtons {
  margin: 0 auto;
}

.theButtons form {
  display: flex;
  justify-content: space-evenly;
}

.found-values {
  margin: 0 auto;
}

.content-wrap {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  padding: 10px 0 5px;
}

body {
  overflow-y: scroll;
}

.theMatrix > div {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(9, 1fr);
  border: 3px solid blue;
  margin: 10px auto;
  padding: 10px;
}

.theMatrix > div .cell {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
}

.theMatrix > div .cell > input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 440px) {
  .theMatrix > div .cell > input {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .theMatrix > div .cell > input {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .theMatrix > div .cell > input {
    font-size: 4rem;
  }
}

.theMatrix > div .cell > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 0.4rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: start;
  text-align: center;
}

@media screen and (min-width: 440px) {
  .theMatrix > div .cell > div {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 576px) {
  .theMatrix > div .cell > div {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .theMatrix > div .cell > div {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  .theMatrix > div .cell > div {
    font-size: 1.7rem;
  }
}

.notes .note1, .notes .note4, .notes .note7 {
  border-right: 1px dashed black;
  border-left: 1px solid black;
}

.notes .note3, .notes .note6, .notes .note9 {
  border-left: 1px dashed black;
  border-right: 1px solid black;
}

.notes .note1, .notes .note2, .notes .note3 {
  border-bottom: 1px dashed black;
  border-top: 1px solid black;
}

.notes .note7, .notes .note8, .notes .note9 {
  border-top: 1px dashed black;
  border-bottom: 1px solid black;
}

.column1, .column4 {
  border-left: 3px solid black;
}

.column6, .column9 {
  border-right: 3px solid black;
}

.row1, .row4 {
  border-top: 3px solid black;
}

.row6, .row9 {
  border-bottom: 3px solid black;
}
