/***************************************************************************
***                               Resets                                 ***
***************************************************************************/
/* Light Reset  */
* {
  margin: 0;
  padding: 0;
}

/* Box Model Fix  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.theMatrix {
  display: grid;
  grid-gap: 2px;
  justify-content: start;
  grid-template-columns: repeat(9, 1fr);
  max-width: 1000px;
}

.cell {
  width: 100%;
}

.cell input {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
}
