/***************************************************************************
***                         Global Grids (All Pages)                     ***
***************************************************************************/

.index-grid {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
	"solveIt"
	"theMatrix"
	"theButtons"
	"stepsDetails"
	;
	// @include size-md {
	// 	grid-template-columns: 20% 80%;
	// 	grid-template-areas: 
	// 	". 				solveIt"
	// 	"theButtons		theMatrix"
	// 	"stepsDetails   stepsDetails"
	// 	;
	// }
	// @include size-lg {
	// 	grid-template-columns: 30% 70%;
	// 	grid-template-areas: 
	// 	". 				solveIt"
	// 	"theButtons		theMatrix"
	// 	"stepsDetails   theMatrix"
	// 	;
	// }
	@include size-lg {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		".				solveIt"
		"stepsDetails	theMatrix"
		"stepsDetails 	theButtons"
		"stepsDetails	."
		;
	}
	// @include size-xxl {
	// 	grid-template-columns: 15% 45% 40%;
	// 	grid-template-areas: 
	// 	".				. 				solveIt"
	// 	"theButtons		stepsDetails	theMatrix"
	// 	;
	// }
}

/* index page */
.theMatrixCard {			
	grid-area: theMatrix;
}
.theButtons {			
	grid-area: theButtons;
}
.solveIt {			
	grid-area: solveIt;
}
.stepsDetails {			
	grid-area: stepsDetails;
}