/***************************************************************************
***                         Global Grids (All Pages)                     ***
***************************************************************************/

.index-grid {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
	"solveIt"
	"theMatrix"
	"theButtons"
	"stepsDetails"
	;
	@include size-lg {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		".				solveIt"
		"stepsDetails	theMatrix"
		"stepsDetails 	theButtons"
		"stepsDetails	."
		;
	}
}

/* index page */
.theMatrixCard {			
	grid-area: theMatrix;
}
.theButtons {			
	grid-area: theButtons;
}
.solveIt {			
	grid-area: solveIt;
}
.stepsDetails {			
	grid-area: stepsDetails;
}