
body {
    overflow-y: scroll;
}
header {
	text-align: center;
	& p {
		font-size: 2rem;
	}
}
h1 {
	font-size: 40px;
	line-height: 0.9;
	margin: 10px auto;
	@include size-sm {
		font-size: 60px;
	}
	@include size-md {
		font-size: 100px;	
		line-height: 1.2;
	}
}
h2 {
	font-size: 20px;
	line-height: 1;
	margin: 10px auto;
	@include size-sm {
		font-size: 30px;
	}
	@include size-md {
		font-size: 40px;
	}
}

.theButtons {
    margin: 0 auto;
    & form {
    display: flex;
    justify-content: space-evenly;
    }
}
.found-values {
    margin: 0 auto;
	text-align: center;
}
.content-wrap {
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
	padding: 10px 0 5px;
}
