.theMatrix {
    display: grid;
    grid-gap: 5px;
    justify-content: start;
    grid-template-columns: repeat(9, 1fr);
    max-width: 1000px;
}

.cell {
    width: 100%;
}

.cell > input {
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
    text-align: center;
}

.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: start;
    text-align: center;
}