
body {
    overflow-y: scroll;
}
header {
	text-align: center;
	& p {
		font-size: 1rem;
	}
}
h1 {
	font-size: 20px;
	line-height: 0.9;
	margin: 5px auto;
	@include size-sm {
		font-size: 30px;
	}
	@include size-md {
		font-size: 50px;	
		line-height: 1.2;
	}
}
h2 {
	font-size: 10px;
	line-height: 1;
	margin: 5px auto;
	@include size-sm {
		font-size: 15px;
	}
	@include size-md {
		font-size: 20px;
	}
}

.theButtons {
	margin: 0 auto;
	& form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	}
	// @include size-lg {
	// 	justify-content: center;
	// 	& form {
	// 		flex-wrap: nowrap;
	// 		flex-direction: column;
	// 	}
	// }
}

.solveIt {
	margin: 0 auto;
	& form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	@include size-xs {
		flex-wrap: nowrap;
	}

	}
}

.stepsDetails {
    margin: 0 30px;
	padding-top: 20px;
	text-align: center;
	font-size: 1rem;
	@include size-lg {
		padding-top: 0;
		margin-top: -15px;
	}
	& article {
		padding: 10px;
		margin: 30px auto;
		border: 1px solid $clr-dark-gray;
        border-radius: 30px; 
        box-shadow: 15px 15px 30px gray,
        -15px -15px 30px white;
		max-width: 80%;
		
		& h3 {
			padding-bottom: 5px;
		}
		& p {
			padding: 15px 0;
		}
	}
	& article:first-of-type {
		border: 3px solid $clr-main-color;
		margin-top: 30px auto;
		max-width: 100%;
		& h3 {
			font-size: 25px;
			padding: 10px;
			color: $clr-main-color;
		}
		& h4 {
			font-size: 20px;
		}
		& p {
			font-size: 20px;
		}

	}
}
.content-wrap {
	max-width: 500px;
	width: 95%;
	margin: 0 auto;
	padding: 5px 0 5px;
}
