
.theButtons {
    margin: 0 auto;
    & form {
    display: flex;
    justify-content: space-evenly;
    }
}
.found-values {
    margin: 0 auto;
}
.content-wrap {
	max-width: 1400px;
	width: 85%;
	margin: 0 auto;
	padding: 10px 0 5px;
}
body {
    overflow-y: scroll;
}