
body {
	overflow-y: scroll;
	background-color: $clr-light-background;
}
header {
	text-align: center;
	& p {
		font-size: 1rem;
	}
}
h1 {
	font-size: 20px;
	line-height: 0.9;
	margin: 5px auto;
	@include size-sm {
		font-size: 30px;
	}
	@include size-md {
		font-size: 50px;	
		line-height: 1.2;
	}
}
h2 {
	font-size: 10px;
	line-height: 1;
	margin: 5px auto;
	@include size-sm {
		font-size: 15px;
	}
	@include size-md {
		font-size: 20px;
	}
}

.theButtons {
	margin: 0 auto;
	& form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	// @include size-sm {
	// 	flex-wrap: nowrap;
	// }
	}
	& .invisible {
		display: none;
	}
}

.solveIt {
	margin: 0 auto;
	& form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	@include size-xs {
		flex-wrap: nowrap;
	}
	& .invisible {
		display: none;
	}
	}
}

.content-wrap {
	max-width: 700px;
	width: 95%;
	margin: 0 auto;
	padding: 0 5px;
}
