.button-rectangle {
    @extend %button-rectangle;
    width: 120px;
    padding: 4px;
    @include size-sm {
        width: 170px;
    }
    &.active {
        &:hover {
            transform: scale(1.1);
        }
    }
    &.inactive {
        @extend %button-rectangle-inactive;
    }
}