.theMatrixNotes > div, .theMatrix > div {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(9, 1fr);
  border: 2px solid blue;
  margin: 5px auto;
  padding: 5px;

  & .cell {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;

    & > input {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      @include size-xs {
        font-size: 1.8rem;
      }
      @include size-sm {
        font-size: 2.2rem;
      }
      @include size-md {
        font-size: 2.8rem;
      }
      @include size-lg {
        font-size: 3.2rem;
      }


    }
    & > div {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 0.5rem;
      @include size-xs {
        font-size: 0.6rem;
      }
      @include size-sm {
        font-size: 0.7rem;
      }
      @include size-md {
        font-size: 0.8rem;
      }
      @include size-xl {
        font-size: 0.9rem;
      }
      text-align: center;
      // Notes configuration, to show the 9 values
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: start;
      text-align: center;
    }
  }
}
.notes {

    & .note1, .note4, .note7 {
      border-left: 1px solid black;
      @include size-md {
        border-right: 1px dashed black;
      }
    }
    & .note3, .note6, .note9 {
      border-right: 1px solid black;
      @include size-md {
        border-left: 1px dashed black;
      }
    } 
    & .note1, .note2, .note3 {
      border-top: 1px solid black;
      @include size-md {
        border-bottom: 1px dashed black;
      }
    }
    & .note7, .note8, .note9 {
      border-bottom: 1px solid black;
      @include size-md {
        border-top: 1px dashed black;
      }
    }
}

.column1, .column4 {
  border-left: 3px solid black;
}
.column6, .column9 {
  border-right: 3px solid black;
}
.row1, .row4 {
  border-top: 3px solid black;
}
.row6, .row9 {
  border-bottom: 3px solid black;
}

/* Configuration to hide the scroll bars for the inputs inside theMatrix */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}