.theMatrixNotes, .theMatrix {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(9, 1fr);
  @include size-sm {
    border: 2px solid $clr-main-color;
  }
  margin: 5px auto;
  padding: 5px;

  & .cell {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;

    & > input {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      border-style: none;
      border: 1px solid $clr-light-gray;

      @include size-xs {
        font-size: 1.8rem;
      }
      @include size-sm {
        font-size: 2.2rem;
      }
      @include size-md {
        font-size: 2.8rem;
      }
      @include size-lg {
        font-size: 2.6rem;
      }
      @include size-xl {
        font-size: 3.2rem;
      }
      &.justFoundCell {
        background-color: $clr-right;
      }
    }

    & > div {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 0.4rem;
      @include size-xs {
        font-size: 0.5rem;
      }
      @include size-sm {
        font-size: 0.7rem;
      }
      @include size-md {
        font-size: 0.8rem;
      }
      @include size-lg {
        font-size: 0.7rem;
      }
      @include size-xl {
        font-size: 0.9rem;
      }
      text-align: center;
      // Notes configuration, to show the 9 values
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: start;
      text-align: center;
      & .justDeletedNote {
        background-color: $clr-wrong;
      }
      & .noteKept {
        background-color: $clr-right;
      }
    }
    /* Configuration to highlight current step blocks*/
    &.highlightedCell {
      border: 4px solid $clr-main-color;
    }
    &.highlightedRow {
      border-top: 4px solid $clr-main-color;
      border-bottom: 4px solid $clr-main-color;
      &.column1 {
        border-left: 4px solid $clr-main-color;
      }
      &.column9 {
        border-right: 4px solid $clr-main-color;
      }
    }
    &.highlightedColumn {
      border-left: 4px solid $clr-main-color;
      border-right: 4px solid $clr-main-color;
      &.row1 {
        border-top: 4px solid $clr-main-color;
      }
      &.row9 {
        border-bottom: 4px solid $clr-main-color;
      }
    }
    &.highlightedSquare {
      &.row1,&.row4,&.row7 {
        border-top: 4px solid $clr-main-color;
      }
      &.row3,&.row6,&.row9 {
        border-bottom: 4px solid $clr-main-color;
      }
      &.column1,&.column4,&.column7 {
        border-left: 4px solid $clr-main-color;
      }
      &.column3,&.column6,&.column9 {
        border-right: 4px solid $clr-main-color;
      }
    }
  }
}

/*Configuration for Candidates Borders*/
.notes {
    & .note1, .note4, .note7 {
      border-left: 1px solid $clr-light-gray;
      @include size-md {
        border-right: 1px dashed $clr-light-gray;
      }
    }
    & .note3, .note6, .note9 {
      border-right: 1px solid $clr-light-gray;
      @include size-md {
        border-left: 1px dashed $clr-light-gray;
      }
    } 
    & .note1, .note2, .note3 {
      border-top: 1px solid $clr-light-gray;
      @include size-md {
        border-bottom: 1px dashed $clr-light-gray;
      }
    }
    & .note7, .note8, .note9 {
      border-bottom: 1px solid $clr-light-gray;
      @include size-md {
        border-top: 1px dashed $clr-light-gray;
      }
    }
}
.emptycell {
  border: 1px solid $clr-light-gray;
}

/*Configuration for Square Borders*/
.column1, .column4 {
  border-left: 4px solid $clr-light-gray;
}
.column6, .column9 {
  border-right: 4px solid $clr-light-gray;
}
.row1, .row4 {
  border-top: 4px solid $clr-light-gray;
}
.row6, .row9 {
  border-bottom: 4px solid $clr-light-gray;
}

/* Configuration to hide the scroll bars for the inputs inside theMatrix */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}