/***************************************************************************
***                            Color Palette                             ***
***************************************************************************/


/*
https://coolors.co/e3170a-343434-d7fcd4-9ac4f8-f9f9f9
#E3170A Vermilion					- rgb()
#343434 Dark Gray (Almost black) 	- rgb(52,52,52)
#D7FCD4 Tea Green    				- rgb()
#9AC4F8 Baby Blue Eyes 				- rgb()
#F9F9F9 Cultured (Almost White) 	- rgb(249,249,249)

*/ 

//************************************************************************//
///                           Variables Colors                           ///
//************************************************************************//

@use "sass:color";

$clr-main-color: #CC5500;
$clr-main-color-transparent: #{transparentize($clr-main-color, 0.8)};

$clr-wrong: #E3170A;    // Vermilion //
$clr-wrong-transparent: #{transparentize($clr-wrong, 0.4)};

$clr-right: lightgreen;    // Tea Green //
$clr-right-transparent: #{transparentize($clr-wrong, 0.4)};

$clr-light-background: #F9F9F9; // Cultured (Almost White) //
$clr-dark-gray: #343434; // Dark Gray (Almost black) //
$clr-light-gray: #{transparentize($clr-dark-gray, 0.4)};
