/* From uiverse.io by @shah1345 */
.hoverMeButton {
  width: 100px;
  height: 40px;
  padding: 4px;
  margin: 10px;
  font-size: 12px;
  @include size-md {
    width: 120px;
  }
  // @include size-lg {
  //   width: 170px;    
  //   height: 60px;
  //   font-size: 18px;
  // }
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;

  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;

  &.inactive {
    background: gray;
  }

  &.active{
    &:active {
      color: #666;
      box-shadow: inset 4px 4px 12px #c5c5c5,
                  inset -4px -4px 12px #ffffff;
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scaleY(1) scaleX(1.25);
      top: 100%;
      width: 140%;
      height: 180%;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      left: 55%;
      transform: translateX(-50%) scaleY(1) scaleX(1.45);
      top: 180%;
      width: 160%;
      height: 190%;
      background-color: $clr-main-color;
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
    }

    &:hover {
      color: #ffffff;
      border: 1px solid $clr-main-color;
    }

    &:hover:before {
      top: -35%;
      background-color: $clr-main-color;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }

    &:hover:after {
      top: -45%;
      background-color: $clr-main-color;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
  }
}
.stepsDetails .hoverMeButton, .solveIt .hoverMeButton{
  width: 120px;
  height: 60px;
  padding: 5px;
  margin: 12px;
  font-size: 18px;
  color: $clr-main-color;
  
  @include size-md {
    width: 200px;
    height: 50px;
  }
}