/***************************************************************************
***                        Matrix 3D Rotation                            ***
***************************************************************************/

.card3d {
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    & .transform-3D-active {
        transform: rotateY(0.5turn);
    }
    &-body {
        text-align: center;
        position: relative;
        transition: all 2.25s;
        background-color: white;
        // padding: 1em;
        transform-style: preserve-3d;
        // height: 100%;
        border-radius: 30px; 
        border: 1px solid $clr-dark-gray;
        box-shadow: 15px 15px 30px gray,
        -15px -15px 30px white;
        &-front, &-back {
            padding: 0.4em;
            border-radius: 30px; 
            @include size-sm {
                padding: 1em;
            }
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }
        &-front {
            & .theMatrix {
                transform: translateZ(16rem);
            }
        }
        &-back {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: rotateY(0.5turn);
            border-radius: 30px; 
            @media (hover: hover ) {
                background-color: white;
            }
            & .theMatrixNotes {
                transform: translateZ(16rem);
            }
        }
    }
}